<p class="title">Email</p>
<div class = "email">
    <input type = "text" class="emailfield">
    <button class="emailBtn">UPDATE</button>
</div>
<p class="title">Change Password</p>
<input type="password" placeholder="Old Password" class="oldpass"><br>
<input type="password" placeholder="New Password" class="newpass">
<input type="password" placeholder="Confirm Password" class="confirmpass"><br>
<button class="passBtn">UPDATE</button>
<button class="resetBtn">RESET</button>