<div class="row">
    <div class="column">
        <p class="title">Username</p>
        <input type = "text" class="usernameField">
    </div>
    <div class="column" style="margin-left: 20px;">
        <p class="title">Email</p>
        <input type = "text" class="emailfield">
    </div>
</div>
<button class="detailBtn">UPDATE</button>
<p class="title">Change Password</p>
<input type="password" placeholder="Old Password" class="oldpass"><br>
<input type="password" placeholder="New Password" class="newpass">
<input type="password" placeholder="Confirm Password" class="confirmpass"><br>
<button class="passBtn">UPDATE</button>
<button class="resetBtn">RESET</button>