<!DOCTYPE html>
<html>
    <head>
		<title>Admin - Account</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/admin/navbar.css">
		<link rel="stylesheet" href="/css/admin/content.css">
        
       <style>
            #account{
                color: #4498BF;
            }

            .registerBtn, .emailBtn, .passBtn, .resetBtn{
                width: 300px;
                height: 40px;
                font-size: 23px;
                text-align: center;
                border-style: none;
                border-radius: 12px;
                font-family: "Lato", sans-serif;
                background-color: #3FB72F;
                color: whitesmoke;
                font-weight: bold;

            }

            .registerBtn:hover, .emailBtn:hover, .passBtn:hover, .resetBtn:hover{
                color: #3FB72F;
                background-color: white;
                border-style: solid;
                border-color: #3FB72F;
            }

            .title{
                margin-top: 30px;
                font-weight: bold;
                font-size: 25px;
            }

            .emailfield{
             resize: none;
             font-size: 20px;
             height: 35px;

            }

            .oldpass{
              margin-top: 10px;
              resize: none;
                font-size: 20px;
                height: 30px;
            }

            .newpass, .confirmpass{
                margin-top: 15px;
                font-size: 20px;
                height: 30px;
            }

            .confirmpass, .emailBtn{
                margin-left: 10px;
            }

            .emailBtn, .passBtn, .oldpass, .newpass, .confirmpass, .emailfield{
                width: 250px;
            }

            .resetBtn{
                margin-top: 10px;
                margin-bottom: 20px;
                margin-left: 10px;
                width: 250px;
                height: 40px;
            }

        </style>
	</head>
    
 
	<body>
        <%- include('admin_navbar.ejs') %>
        <h1 id="header">Account</h1>

        <div class="main">
            <a href="admin_addService.html"><button class="registerBtn">REGISTER EMPLOYEE</button></a>
            <%- include('accountcontent.ejs') %>

        </div>

    </body>
</html>
