<hr/>

<div class = "navbar">
    <div id="items">

        <form action="/admin/logout" method="POST">
          <input id="logOut_btn" type="submit" value="LOG OUT">
        </form>

        <img id="logo2" src="/images/logo2.png">

        <a id="account" href="/admin/account">ACCOUNT</a>
        <a id="orders" href="/admin/orders">ORDERS</a>
        <a id="promos" href="/admin/promos">PROMOS</a>
        <a id="services" href="/admin/services">SERVICES</a>
        <a id="information" href="/admin/info">INFORMATION</a>

    </div>

</div>
