<!DOCTYPE html>
<html>
	<head>
		<title>Admin - Information</title>
        
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/admin/navbar.css">
<!--
		<link rel="stylesheet" href="content.css">
		<link rel="stylesheet" href="information.css">
-->
        
    <style>
        #information{
            color: #4498BF;
        }
    </style>
	</head>
    

	<body>
    <%- include('admin_navbar.ejs') %>
<!--
		<div class="main">
			<div class="main-header">
				<h1 id="header">Information</h1>
			</div>
		<hr>
			<div class="main-content">
				<span class = "title">Description</span><br>
				<textarea class = "description_field"></textarea><br><br>
				<span class = "title">Contact</span><br>
				<textarea class = "contact_field"></textarea><br><br>
				<span class = "title">Location</span><br>
				<textarea class = "location_field"></textarea><br>
                <button class="updateBtn">UPDATE</button>
			</div>
		</div>
-->
    </body>
</html>
