<!DOCTYPE html>
<html>
	<head>
		<title>Admin - Information</title>
        
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/admin/navbar.css">
		<link rel="stylesheet" href="/css/admin/content.css">
        
    <style>
        #information{
            color: #4498BF;
        }
        
        #header{
            font-family: "Lato", sans-serif;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
        }
        
        .title{
            margin-top: 10px;
            font-weight: bold;
            font-size: 25px;
        }
        
        .main{
            margin-right: 50px;
        }
        
        .descriptionField{
          margin-top: 10px;
          resize: none;
          width: 100%;
          height: 100px;
        }

        .contactField, .emailField, .locationField{
            margin-top: 10px;
            resize: none;
            font-size: 20px;
            height: 35px;
        }
        
        .column {
            float: left;
            height: auto;
            width: 33%;
            text-align: center;
            font-family: "Lato", sans-serif;
        }

        .row{
            margin: 0;
        }

        .updateBtn{
            float: right;
            font-size: 20px;
            color: #333;
            margin-top: 30px;
            margin-right: 50px;
            width: 200px;
            text-align: center;
            padding: 12px 14px;
            border-style: none;
            border-radius: 12px;
            font-family: "Lato", sans-serif;
            background-color: #3FB72F;
            color: whitesmoke;
            font-weight: bold;
        }
        
        .updateBtn:hover{
            color: #3FB72F;
            background-color: white;
            border-style: solid;
            border-color: #3FB72F;
            padding: 10px 12px;
        }
        
    </style>
	</head>
    

	<body>
    <%- include('admin_navbar.ejs') %>
        <h1 id="header">Information</h1>
			<div class="main">
                <p class = "title">Description</p>
				<textarea class = "descriptionField"></textarea><br><br>
                <div class="row">
                    <div class="column">
                        <p class = "title">Contact</p>
				        <textarea class = "contactField"></textarea><br><br>
                    </div>
                    <div class="column">
                        <p class = "title">Location</p>
				        <input type="text" class = "locationField"><br>
                    </div>
                    <div class="column">
                        <p class = "title">Email</p>
				        <input type="text" class = "emailField"><br>
                    </div>
                </div>
				
                <button class="updateBtn">UPDATE</button>
			</div>
    </body>
</html>
