<!DOCTYPE html>
<html>
    <head>
		<title>Admin - Orders</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--
		<link rel="stylesheet" href="content.css">
		<link rel="stylesheet" href="information.css">
-->
        <link rel="stylesheet" type="text/css" href="/css/admin/navbar.css">
	</head>
    
    <style>
        #orders{
            color: #4498BF;
        }
        
        #header{
            text-align: center;
            font-size: 50px;
        }
        
        .main-content{
            margin-left: 50px;
        }
    </style>
	<body>
        <%- include('admin_navbar.ejs') %>
		<div class="main">
			<div class="main-header">
				<h1 id="header">Orders</h1>
			</div>
            <div class="main-content">
            </div>
		</div>
    </body>
</html>
