<h1 id="header">Orders</h1>
<div class="main"> 
   <table style="width: 100%">
        <tr>
            <th>Order ID</th>
            <th>Date Received</th>
            <th>Description</th>
            <th>Subtotal</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </table>
</div>