<html>
	<head>
		<title>Admin - Add Service</title>
		<link rel="stylesheet" href="sidebar.css">
		<link rel="stylesheet" href="content.css">
	    <link rel="stylesheet" href="addService.css">
    </head>
	<body>
		<div class="sidenav">
			<ul>
            <a href="admin_information.html"><img class="logo" src="MRKLEANLOGO.png"></a>
            </ul>
            <ul class="list">
			  <a href="admin_information.html">Information</a>
			  <a href="admin_services.html" class="active">Services</a>
			  <a href="admin_promos.html">Promos</a>
			  <a href="admin_orders.html">Orders</a>
			  <a href="admin_account.html">Account</a>
				<a href="#" class="log_out">Log Out</a>
			</ul>
		</div>
		<div class="main">
			<div class="main-header">
				<h1 id="header">Add Service</h1>
			</div>
		<hr>
            <div class="main-content">
                <span class="name">Name</span><br>
                <textarea class="name_field" placeholder="Name of Service"></textarea><br>
                <div class="price_rate_text">
                    <span class="price">Price</span>
                    <span class="rate">Rate</span><br>
                </div>
                <textarea class="price_field" placeholder="Fee"></textarea>
                <textarea class="rate_field" placeholder="Amount"></textarea><br>
                <button class="addBtn">ADD</button>
            </div>
		</div>
	<body>
</html>
