<html>
	<head>
		<title>Admin - Orders</title>
		<link rel='stylesheet' href='sidebar.css'>
		<link rel='stylesheet' href='content.css'>
	</head>
	<body>
		<div class='sidenav'>
			<ul>
            <a href='admin_information.html'><img class='logo' src='MRKLEANLOGO.png'></a>
            </ul>
            <ul class='list'>
			  <a href='admin_information.html'>Information</a>
			  <a href='admin_services.html'>Services</a>
			  <a href='admin_promos.html'>Promos</a>
			  <a href='admin_orders.html' class='active'>Orders</a>
			  <a href='admin_account.html'>Account</a>
				<a href='#' class='log_out'>Log Out</a>
			</ul>
		</div>
		<div class='main'>
			<div class='main-header'>
				<h1 id='header'>Orders</h1>
			</div>
		<hr>
            <div class='main-content'>
            </div>
		</div>
	<body>
</html>
