<hr/>

<div class = "navbar">
    <div id="items">

        <button value="Pickup & Delivery" id="form_btn">PICKUP & DELIVERY</button>

        <img id="logo2" src="images/logo2.png">

        <a id="contact" href="/contact">CONTACT US</a>
        <a id="services" href="/services">SERVICES</a>
        <a id="home" href="/">HOME</a>

    </div>

</div>
