.addBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #385873;
    color: FFFFFF;
    font-weight: bold;
    font-size: 23px;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    
}