*{
  font-family: "Product Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: auto;
    color: #385873;
    border-color: #385873;
    border-style: inset;
    border-width: 10px;
    border-style: solid;
}
