<hr/>

<div class = "navbar">
    <div id="items">

        <button value="Log Out" id="logOut_btn">LOG OUT</button>

        <img id="logo2" src="/images/logo2.png">

        <a id="account" href="/admin/employee/account">ACCOUNT</a>
        <a id="orders" href="/admin/employee/orders">ORDERS</a>

    </div>

</div>