<html>
	<head>
		<title>Admin - Information</title>
		<link rel="stylesheet" href="sidebar.css">
		<link rel="stylesheet" href="content.css">
		<link rel="stylesheet" href="information.css">
	</head>
	<body>
		<div class="sidenav" id="nav_bar">
			<ul>
			  <a href="admin_information.html" class="active">Information</a>
			  <a href="admin_services.html">Services</a>
			  <a href="admin_promos.html">Promos</a>
			  <a href="admin_orders.html">Orders</a>
			  <a href="admin_account.html">Account</a>
				<a href="#" class="log_out">Log Out</a>
			</ul>
		</div>
		<div class="main">
			<div class="main-header">
				<h1 id="header">Information</h1>
			</div>
		<hr>
			<div class="main-content">
				<span class = "title">Description</span><br>
				<textarea class = "description_field"></textarea><br><br>
				<span class = "title">Contact</span><br>
				<textarea class = "contact_field"></textarea><br><br>
				<span class = "title">Location</span><br>
				<textarea class = "location_field"></textarea><br>
                <button class="updateBtn">UPDATE</button>
			</div>
		</div>
	<body>
</html>
